numpy==2.2.3
scikit-learn==1.4.0
PyYAML==6.0.2
psutil==7.0.0
scipy==1.15.2
networkx==3.2.1
joblib==1.4.2
lxml==5.3.1
dill==0.3.9
deap==1.4.1
Pillow==11.1.0
secml==0.15.6
validators==0.34.0
memory-tempfile==2.2.3
pandas==2.2.3
nevergrad==1.0.8